<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :slug, style: "display: block" %>
    <%= form.text_field :slug %>
  </div>

  <div>
    <%= form.label :large_url, style: "display: block" %>
    <%= form.text_field :large_url %>
  </div>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.text_field :type %>
  </div>

  <div>
    <%= form.label :expires_at, style: "display: block" %>
    <%= form.datetime_field :expires_at %>
  </div>

  <div>
    <%= form.label :visited, style: "display: block" %>
    <%= form.check_box :visited %>
  </div>

  <div>
    <%= form.label :password_link_access, style: "display: block" %>
    <%= form.text_field :password_link_access %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
