<div id="<%= dom_id link %>">
  <p>
    <strong>Name:</strong>
    <%= link.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= link.slug %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= link.URL %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= link.type %>
  </p>

</div>
