<div id="<%= dom_id link %>">
  <p>
    <strong>Name:</strong>
    <%= link.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= link.slug %>
  </p>

  <p>
    <strong>Large url:</strong>
    <%= link.large_url %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= link.type %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= link.expires_at %>
  </p>

  <p>
    <strong>Visited:</strong>
    <%= link.visited %>
  </p>

  <p>
    <strong>Password link access:</strong>
    <%= link.password_link_access %>
  </p>

</div>
